@using PertPlan.WebUI.Models.ViewModels;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Tasks";
}

@model List<ProjectTask>
@{
}
@section Styles {
    <link rel="stylesheet" href="~/css/Tasks.css" asp-append-version="true" />
}

<div class="d-md-none" style="padding: 10px">
    <p>N<sub>um</sub> - @Localizer["task's number"]</p>
    <p>N<sub>az</sub> - @Localizer["task's name"]</p>
    <p>T<sub>e</sub> - @Localizer["time to finish task"]</p>
    <p>T<sub>p</sub> - @Localizer["positive time to finish task"]</p>
    <p>T<sub>sr</sub> - @Localizer["averate time to finish task"]</p>
    <p>T<sub>n</sub> - @Localizer["negative time to finish task"]</p>
    <p>D - @Localizer["previous tasks"]</p>
</div>

<form asp-action="Tasks" method="post">
    <div class="table-responsive">
        <table id="myTable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th id="moveIcon" rowspan="2" class=""></th>
                    <th id="number" rowspan="2" class="tableHeader-number">@Localizer["Number"]</th>
                    <th id="name" rowspan="2" class="tableHeader-text">@Localizer["Name"]</th>
                    <th id="finishTime" colspan="3">@Localizer["Finish time"]</th>
                    <th id="dependencies" rowspan="2" title=@Localizer["Numbers of previous tasks."] class="tableHeader-text">@Localizer["Previous tasks"]</th>
                </tr>
                <tr>
                    <th id="finishTimePositive">@Localizer["Positive"]</th>
                    <th id="finishTimeAverage">@Localizer["Average"]</th>
                    <th id="finishTimeNegative">@Localizer["Negative"]</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var task in Model)
                {
                    <tr class="table-row">
                        <td>
                            <input type="text" class="form-control tableCell" asp-for=@task.Id readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control tableCell" asp-for=@task.Name>
                        </td>
                        <td>
                            <input type="number" class="form-control tableCell" asp-for=@task.PositiveFinishTime>
                        </td>
                        <td>
                            <input type="number" class="form-control tableCell" asp-for=@task.AverageFinishTime>
                        </td>
                        <td>
                            <input type="number" class="form-control tableCell" asp-for=@task.NegativeFinishTime>
                        </td>
                        <td>
                            <input type="text" class="form-control tableCell" placeholder="1, 2, 3..." asp-for=@task.DependOnTasks>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="drpad dropZone"></td>
                    </tr>
                    <!-- Rows will be dynamically added here -->
                }
            </tbody>
        </table>
    </div>
    <div class="border tasksMenu">
        <div>
            <button class="btn btn-success" id="addTaskButton" type="button">@Localizer["Add row"]</button>
            <button class="btn btn-success" id="insertTaskButton" type="button" disabled>@Localizer["Insert row"]</button>
            <button class="btn btn-danger" id="deleteTaskButton" type="button" disabled>@Localizer["Delete last row"]</button>
            <button class="btn btn-danger" id="deleteSelectedTaskButton" type="button" disabled>@Localizer["Delete selected row"]</button>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">@Localizer["Create diagram"]</button>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/Tasks.js" type="module" charset="utf-8"></script>
    <script src="~/js/TasksDND.js" type="module" charset="utf-8"></script>
}
